{% extends 'admin_layout.html' %}
{% load static %}
{% block content %}
<div class="col bg-danger text-white">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 justify-content-evenly">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto  mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if not selected_category %}active{% endif %}"
                            href="{% url 'user_products' %}">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if selected_category == 'mens' %}active{% endif %}"
                            href="{% url 'user_category_products' 'mens' %}">Mens
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if selected_category == 'womens' %}active{% endif %}"
                            href="{% url 'user_category_products' 'womens' %}">Womens
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if selected_category == 'girls' %}active{% endif %}"
                            href="{% url 'user_category_products' 'girls' %}">Girls</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if selected_category == 'boys' %}active{% endif %}"
                            href="{% url 'user_category_products' 'boys' %}">Boys</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="grid text-center container-fluid" style="--bs-columns: 3;">

        <!-- <div class="container mt-4"> -->
        <div class="row g-3">
            {% for pro in page_obj %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">

                <div class="card w-100 position-relative">
                    <button class="btn position-absolute top-0 end-0 m-2 p-0 bookmark-btn"
                        style="background: none; border: none;">
                        <i class="bi bi-bookmark-heart-fill fs-4 text-secondary"></i>
                    </button>
                    <a href="{% url 'admin_singleproduct_view' pro.id %}">

                        <img src="{% static pro.item_image1 %}" class="card-img-top" alt="{{ pro.item_name }}"
                            style="height: auto; max-height: 200px; object-fit: contain;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ pro.item_name }}</h5>
                        <h5 class="card-text">{{ pro.item_description }}</h5>
                    </div>
                    <div>
                        <p class="card-text btn btn-outline-dark btn-sm disabled">S- {{ pro.small_size }}</p>
                        <p class="card-text btn btn-outline-dark btn-sm disabled">M-{{ pro.medium_size }}</p>
                        <p class="card-text btn btn-outline-dark btn-sm disabled">L-{{ pro.large_size }}</p>
                        <p class="card-text btn btn-outline-dark btn-sm disabled">XL-{{ pro.extralarge_size }}</p>
                    </div>
                    <ul class="d-flex justify-content-between me-5">
                        <li class="list-group-item text-danger fs-2">{{ pro.new_price }}</li>
                        <li class="list-group-item fs-3"><del>{{ pro.old_price }}</del></li>
                        <li class="list-group-item text-success fs-2">{{ pro.offer }}%</li>
                    </ul>
                    <ul class=" d-flex justify-content-between me-5">

                        <a class="btn btn-outline-success" href="{% url 'admin_edit' pro.id  %}">edit</a>

                        <a class="btn btn-outline-danger" href="{% url 'admin_delete_product' pro.id %}">delete</a>
                    </ul>
                </div>
            </div>
            {% empty %}
            <p>No products found.</p>
            {% endfor %}
        </div>
        <!-- </div> -->

        <!-- Pagination controls -->
        <div class="grid text-center container-fluid mt-4">

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">

                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}

                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}