{% extends 'admin_layout.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="card shadow">
        <div class="card-header text-white" style="background-color: rgb(201, 7, 7);">
            <h3 class="mb-0">Add Product</h3>
        </div>
        <div class="card-body" style="background-color: rgba(28, 13, 13, 0.173);">
            <form action="{% url 'admin_edit_product' context.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Product ID</label>
                    <div class="col-sm-9">
                        <input type="text" name="id" class="form-control" placeholder=" product id"
                            value="{{ context.id }}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Product Image</label>
                    <div class="col-sm-9">
                        <img src="{% static context.item_image1 %}" class="card-img-top" alt="product image"
                            style="height: auto; max-height: 200px; object-fit: contain;">

                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Product Title</label>
                    <div class="col-sm-9">
                        <input type="text" name="product_title" class="form-control" placeholder=" product title"
                            value="{{ context.item_name }}">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Product Description</label>
                    <div class="col-sm-9">
                        <input type="text" name="product_description" class="form-control" placeholder="description"
                            value="{{ context.item_description }}">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Category</label>
                    <div class="col-sm-9">
                        <select name="category" id="category" class="form-select" value="{{ context.category }}">
                            <option value="mens">Mens</option>
                            <option value="womens">Womens</option>
                            <option value="girls">Girls</option>
                            <option value="boys">Boys</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">small</label>
                    <div class="col-sm-9">
                        <input type="number" name="small_size" class="form-control" placeholder="small_size"
                            value="{{ context.small_size }}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">medium</label>
                    <div class="col-sm-9">
                        <input type="number" name="medium_size" class="form-control" placeholder="medium_size"
                            value="{{ context.medium_size }}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">large</label>
                    <div class="col-sm-9">
                        <input type="number" name="large_size" class="form-control" placeholder="large_size"
                            value="{{ context.large_size }}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">extra large</label>
                    <div class="col-sm-9">
                        <input type="number" name="extralarge_size" class="form-control" placeholder="extralarge_size"
                            value="{{ context.extralarge_size }}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Price</label>
                    <div class="col-sm-9">
                        <input type="text" name="old_price" class="form-control" placeholder="Old price"
                            value="{{ context.old_price }}">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Offer</label>
                    <div class="col-sm-9">
                        <input type="text" name="offer" class="form-control" placeholder="offer"
                            value="{{ context.offer }}">
                    </div>
                </div>

                <!-- <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">New Price</label>
                    <div class="col-sm-9">
                        <input type="text" name="new_price" class="form-control" placeholder="Enter new price">
                    </div>
                </div> -->

                <div class="text-end">
                    <button type="submit" class="btn text-white" style="background-color: rgb(192, 9, 9);">save
                        changes</button>
                </div>

                {% if upload %}
                <div class="mt-4 text-center">
                    <h4 class="text-success">{{ upload }}</h4>
                </div>
                {% endif %}

            </form>
        </div>
    </div>
</div>

{% endblock %}