{% extends 'admin_layout.html' %}
{% load static %}
{% block content %}
<div class="grid text-center container-fluid" style="--bs-columns: 3;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 justify-content-evenly">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if not selected_category %}active{% endif %}"
                            href="{% url 'user_products' %}">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if selected_category == 'mens' %}active{% endif %}"
                            href="{% url 'user_category_products' 'mens' %}">Mens
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if selected_category == 'womens' %}active{% endif %}"
                            href="{% url 'user_category_products' 'womens' %}">Womens
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if selected_category == 'girls' %}active{% endif %}"
                            href="{% url 'user_category_products' 'girls' %}">Girls</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if selected_category == 'boys' %}active{% endif %}"
                            href="{% url 'user_category_products' 'boys' %}">Boys</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row g-3">
            {% for pro in item %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="card w-100">
                    <img src="{% static pro.item_image1 %}" class="card-img-top" alt="product image"
                        style="height: auto; max-height: 200px; object-fit: contain;">
                    <div class="card-body">
                        <h5 class="card-title">{{ pro.item_name }}</h5>
                        <p class="card-text">{{ pro.item_description }}</p>
                        <p class="card-text">{{ pro.category }}</p>
                    </div>
                    <div>

                        <p class="card-text btn btn-outline-dark btn-sm disabled">S</p>
                        <p class="card-text btn btn-outline-dark btn-sm disabled">M</p>
                        <p class="card-text btn btn-outline-dark btn-sm disabled">L</p>
                        <p class="card-text btn btn-outline-dark btn-sm disabled">XL</p>
                    </div>
                    <ul class="d-flex justify-content-between me-5">
                        <li class="list-group-item text-danger fs-5"><strong></strong> {{ pro.new_price }}</li>
                        <li class="list-group-item fs-5"><del>{{ pro.old_price }}</del></li>
                        <li class="list-group-item text-success fs-5">{{ pro.offer }} %</li>
                    </ul>
                    <ul class=" d-flex justify-content-between me-5">

                        <a class="btn btn-outline-success" href="{% url 'admin_edit' pro.id  %}">edit</a>

                        <a class="btn btn-outline-danger" href="{% url 'admin_delete_product' pro.id %}">delete</a>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}