<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="row">
                    urban tees
                </div>
                <div class="row">
                    <button>Register</button>
                    <button>Login</button>
                </div>
                <div class="row">
                    <div class="row">
                        <label for="">MOBILE</label>
                        <input type="text" name="mobie">
                    </div>
                    <div class="row">
                        <label for="">PASSWORD</label>
                        <input type="text" name="password">
                    </div>
                </div>
                <div class="row">
                    <button>LOGIN</button>
                </div>
                <div class="row">
                    <a href="">
                        Forgot password?
                    </a>
                    <a href=""></a>
                </div>
            </div>
            <div class="col bg">
                <div class="row">
                    <input type="text" placeholder="Fullname">
                    <input type="text" placeholder="email">
                    <input type="text" placeholder="phone">
                    <input type="text" placeholder="password">
                </div>
                <div class="row">
                    <button>SIGN UP</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>