{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info Form</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body style="
  font-family: 'Poppins', sans-serif;
  background-image: url('{% static 'images/user_info.png' %}');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
">

    <div class="row" style="height: 100%; width: 100%;">
        <!-- Sidebar -->
        <div class="col-2" style="background-color: rgba(0, 0, 0, 0.356); color: white; padding: 15px; height: 100%;">
            <ul class="nav flex-column" style="color: white;">
                <div class="d-flex align-items-center">
                    <div>
                        <img src="{% static 'images/logo1.png' %}" alt="Logo" style="width: 50px; margin-right: 10px;">
                        <span class="navbar-brand mb-0 h1"
                            style="font-weight: bold; font-size: 1.5rem;">UrbanTees</span>
                    </div>

                </div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}" style="color: white;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myorder_page' %}" style="color: white;">Order History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'userinfo' %}" style="color: white;">Profile Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'wishlist_page' %}" style="color: white;">Saved items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart_page' %}" style="color: white;">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web_home' %}" style="color: white;">Logout</a>
                </li>
            </ul>
        </div>

        <div class="col-10">
            <div class="container mt-3 ">
                <div class="row justify-content-center">
                    <div class="col">
                        <form action="{% url 'userinfo' %}" method="post" enctype="multipart/form-data" id="LoginForm"
                            style="background-color: rgba(174, 6, 6, 0.47); color: white; ">
                            {% csrf_token %}

                            <h4 class="mb-4 text-center" style="color: white;">User Info</h4>

                            <div class="col-sm-9">

                                <input type="hidden" name="id" maxlength="100" class="form-control"
                                    value="{{ user.id }}" id="id">
                            </div>

                            <div class="mb-3 row">
                                <label for="id_name" class="col-sm-3 col-form-label" style="color: white;">Name</label>
                                <div class="col-sm-9">

                                    <input type="text" name="name" maxlength="100" class="form-control"
                                        value="{{ user.user_name }}" id="id_name" required
                                        style="border:none; border-bottom:2px solid #ffffff; background:transparent; outline:none; padding:8px 4px; font-size:16px; color:white;">
                                </div>
                            </div>
                            
                            <div class="mb-3 row">
                                <label for="id_gender" class="col-sm-3 col-form-label"
                                style="color: white;">Gender</label>
                                <div class="col-sm-9">
                                    <select name="gender" class="form-select" id="id_gender" value="{{ user.gender }}"
                                        required
                                        style="border:none; border-bottom:2px solid #eee9e9; background:transparent; outline:none; padding:8px 4px; font-size:16px; color:white;">
                                        <option value="" style="color:black;" >Select gender</option>
                                        <option value="Male" style="color:black;" {% if user.gender == 'Male' %} selected {% endif %}>Male</option>
                                        <option value="Female" style="color:black;" {% if user.gender == 'Female' %} selected {% endif %}>Female</option>
                                        <option value="Other" style="color:black;" {% if user.gender == 'Other' %} selected {% endif %}>Other</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="id_address" class="col-sm-3 col-form-label"
                                    style="color: white;">Address</label>
                                <div class="col-sm-9">

                                    <textarea name="address" class="form-control" id="id_address" rows="3" required
                                        style="border:none; border-bottom:2px solid #eee9e9; background:transparent; outline:none; padding:8px 4px; font-size:16px; color:white;">{{ user.address }}</textarea>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="id_place" class="col-sm-3 col-form-label"
                                    style="color: white;">Place</label>
                                <div class="col-sm-9">

                                    <input type="text" name="place" maxlength="100" class="form-control"
                                        value="{{ user.place }}" id="id_place" required
                                        style="border:none; border-bottom:2px solid #eee9e9; background:transparent; outline:none; padding:8px 4px; font-size:16px; color:white;">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="id_city" class="col-sm-3 col-form-label" style="color: white;">City</label>
                                <div class="col-sm-9">

                                    <input type="text" name="city" maxlength="100" class="form-control"
                                        value="{{ user.city }}" id="id_city" required
                                        style="border:none; border-bottom:2px solid #eee9e9; background:transparent; outline:none; padding:8px 4px; font-size:16px; color:white;">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="id_pincode" class="col-sm-3 col-form-label"
                                    style="color: white;">Pincode</label>
                                <div class="col-sm-9">

                                    <input type="text" name="pincode" maxlength="6" class="form-control" id="id_pincode"
                                        value="{{ user.pincode }}" required
                                        style="border:none; border-bottom:2px solid #eee9e9; background:transparent; outline:none; padding:8px 4px; font-size:16px; color:white;">
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="id_phone" class="col-sm-3 col-form-label"
                                    style="color: white;">Phone</label>
                                <div class="col-sm-9">

                                    <input type="text" name="phone" maxlength="15" class="form-control" id="id_phone"
                                        required value="{{ user.phone }}"
                                        style="border:none; border-bottom:2px solid #eee9e9; background:transparent; outline:none; padding:8px 4px; font-size:16px; color:white;">
                                </div>
                            </div>

                            <button type="submit" name="save" class="btn w-100"
                                style="background-color: #050001; color: rgb(255, 0, 0); border: none; padding: 10px 0; font-weight: 500;">
                                Save
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>